<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GCM_SENDER_ID</key>
	<string>347544695656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>minestrone.SwiftUI-SocialLogin</string>
	<key>PROJECT_ID</key>
	<string>ioschat-c2320</string>
	<key>STORAGE_BUCKET</key>
	<string>ioschat-c2320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:347544695656:ios:d3e6980bd820a1850e9cdd</string>
	<key>DATABASE_URL</key>
	<string>https://ioschat-c2320.firebaseio.com</string>
</dict>
</plist>
